<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" type="text/css" href="../public/css/style.css">

    <script src="https://unpkg.com/@metamask/legacy-web3@latest/dist/metamask.web3.min.js"></script>
    <script src="js/vaccinePassport.js"></script>

    <title>Institution page</title>
</head>
<body>
    <header>
        <div class="navigation">
            <span class="title">DVP</span>
        </div>
    </header>
    
    <main>
        <section id="institutionPage">
            <br>
            <h1>Input Your Information</h1>
            <hr>
            <br>
    
            <div class="row_group">
                <div class="join_row">
                    <h3 class="join_title"><label for="iName">Institution Name</label></h3>
                        <input type="text" id="iName" name="iName">
                </div>
                
                <div class="join_row">
                    <h3 class="join_title"><label for="pwd">Password</label></h3>
                        <input type="password" id="pwd" name="pwd">
                </div>
            </div>
            <br>
            <div id="connectAccount">
                <button type="button" id="btnJoin" onclick="connectAccount()">Enter</button>
            </div>
        </section>
    </main>

    <script>
        function connectAccount() {
            alert("your account has been connected!!!");
        
            window.location.href = 'id_check.html';
        }
    </script>
    

    
</body>
</html>