<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script type="text/javascript" src="../public/js/qrcode.js"></script>
    <script type="text/javascript"></script>
	
    <script
    src="https://code.jquery.com/jquery-3.6.0.js"
    integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>
    
    <link rel="stylesheet" type="text/css" href="../public/css/style.css">

    <script src="https://unpkg.com/@metamask/legacy-web3@latest/dist/metamask.web3.min.js"></script>
    <script src="js/vaccinePassport.js"></script>
    <title>User page</title>
</head>
<body>
    <header>
        <div class="navigation">
            <span class="title">DVP</span>
        </div>
    </header>
    
    <main>
        <section id="usesrPage">
            <br>
            <h1>Input Your Information</h1>
            <hr>
            <br>
    
            <div class="row_group">
                <div id="uName">
                    <h3 class="join_title"><label>Name</label></h3>
                        <input type="text" id="uName" name="uName">
                </div>
                
                <div id="jumin">
                    <h3 class="join_title"><label>Resident registration number</label></h3>
                        <input  type="text" id="jumin1" size="8" name="jumin1"> - <input type="password" id="jumin2" size="8" name="jumin2">
                    
                </div>
                <div id="country">
                    <h3 class="join_title"><label>Country</label></h3>
                        <input type="text" id="country" name="country">
                </div>
            </div>
                
                <br>
                
            <div id="newAccount">
                <button type="button" id="btnJoin" onclick="connectAccount()">Enter</button>
            </div>
        </section>
    </main>

    <script>
        function connectAccount() {
            alert("your account has been connected!!!");
        
            window.location.href = 'Mypage.html';
        }
        </script>
    

    
</body>
</html>