<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="../public/js/web3.min.js"></script>
	<script type="text/javascript" src="../public/js/ethereumjs-tx-1.3.3.min.js"></script>

    <script type="text/javascript" src="../public/js/qrcode.js"></script>
    <script
    src="https://code.jquery.com/jquery-3.6.0.js"
    integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="../public/css/style.css">

    
    <title>Vaccin Result</title>

    <script>
		$(document).ready(function () { //화면이 시작하자마자 실행
			let DEBUG = 1;

			const web3 = new Web3('https://ropsten.infura.io/v3/3c52917848e945229c0d33d632b10490'); //ropsten - Testnet에 접속
			let Buffer = ethereumjs.Buffer.Buffer;
			let version = web3.version;

			if (DEBUG) {
				console.log('starting...');
				console.log("Ropsten Ethereum API version : ", version);
				console.log("web3: ", web3);
			}

			let qrcode = new QRCode(document.getElementById("qrcode"), {
				width : 250,
				height : 250
			});
            
            $.get("user_page1.html", function(data){
                let html = $(data);
                let fromaddress = $("#fromaddress", html).text();

            });
            
        });

    </script>

</head>
<body>
    <header>
        <div class="navigation">
            <span class="title">DVP</span>
            <div class="menu-popup hide">
                <ul class="menus">
                    <li class="menu"><a href="Mypage.html">My page</a></li>
                    <li class="menu"><a href="VaccineResult.html">Vaccine Result</a></li>
                </ul>
            </div>
            <div class="menu-button">Menu</div>
        </div>
    </header>

    <br>

    <h1>Covid-19 Test Result</h1>
    <div id="qrcode" style="width:250px; height:250px; margin-top:15px;"></div>


</body>
</html>